
<header>
    <div class="navbar bg-warning shadow-sm mainContainer">
        <div>        
            <i style="font-size: 40px;" class="fas fa-shopping-basket"> </i>&nbsp;
            
            <strong style="font-size: 30px;"> Patil-Mart</strong>
        </div>
        
        
            <input type="text" placeholder="search products" [(ngModel)]="searchTerm" (keyup)="search($event)" class="form-control">
   
            
          
         <button routerLink="cart" class="btn btn-warning">
             <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
             <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
         </button>
        
          <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton" >
             <button mat-button class="btn btn-warning" (click)="logout()" >
                <mat-icon>logout</mat-icon>
                Logout  
            </button>
            
         </ng-container>

         
         <ng-template #loginButton>
            <button mat-button class="btn btn-warning" routerLink="login">
                <mat-icon>login</mat-icon>Login
            </button>
         </ng-template>

          <!-- <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton" >
             <button mat-button class="btn btn-warning" [matMenuTriggerFor]="userMenu" >
                <mat-icon>account_circle</mat-icon>
                {{user.displayName}}
                <mat-icon>expand_more</mat-icon>
                
            </button> -->

         <!-- <mat-menu #userMenu="matMenu">
             <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>Logout</button>
         </mat-menu> -->

    </div>
</header>
