.mainContainer{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    align-items: flex-start;

}

.form-control{
     width: 600px;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}


